body, html {
  background: rgb(253, 252, 251);
}

body.no-scroll {
  overflow: hidden;
}


.detalii-container-client {
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding: 0 20px;
    background: rgb(253, 252, 251);
}

.detalii-carte-client {
    background: rgba(255, 255, 255, 0.389);
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    padding: 20px;
    border-radius: 5px;
}

.detalii-carte-client h2 {
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 5px;
}

.detalii-carte-client p {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}


.wrapper-butoane {
    display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.detalii-imagine-client {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coperta-mare-client {
    margin-top: 0;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
}

.icon-favorite {
    position: absolute;
    margin-top: -10px;
    margin-left: -300px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon-favorite:hover {
    transform: scale(1.1);
}

.rating-stars {
    font-size: 24px;
    color: rgb(255, 221, 26);
    background-color: rgba(255, 255, 255, 0.1); /* fundal subtil */
    border-radius: 6px;
    padding: 4px 8px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.half-star {
    position: relative;
    display: inline-block;
    color: lightgray;
}

.half-star::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}

.recenzii-container-client {
    margin-top: 30px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.389);
    border-radius: 5px;
    width: 870px;
    height: 320px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    overflow: hidden;
}

.recenzii-container-client h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.recenzii-box-client {
    display: grid;
    background: rgba(255, 255, 255, 0.389);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 10px;
}

.recenzie-card-client {
    width: 240px;
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 180px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#detalii-utilizator-recenzie {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}

.recenzie-text {
    max-height: 100px;
    overflow-y: auto;
    font-family: 'Times New Roman', Times, serif;
}

.fara-recenzii-client {
    text-align: center;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.btn-x-stergere {
  /* position: absolute; */
  margin-left: 220px;
  background: none;
  border: none;
  font-size: 18px;
  color: #c0392b;
  cursor: pointer;
} 

.popup-confirmare-stergere {
  background: white;
    padding: 20px;
    border-radius: 10px;
    width: 330px;
    height: 120px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    text-align: center;
    display: flex;
  flex-direction: column;
  gap: 13px;
}

.popup-confirmare-stergere h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.popup-confirmare-stergere p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.butoane-confirmare-stergere {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px; 
}

#confirmStergeRecenzie {
  padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    background-image: linear-gradient(to bottom right, #305c31ee, #ccc7c5d5);
    backdrop-filter: blur(10px);
}

#cancelStergeRecenzie {
padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    background-image: linear-gradient(to bottom right, #8c2929eb, #ccc7c5dc);
    backdrop-filter: blur(10px);
}

/* Mesaje de succes sau eroare plutitoare */
.floating-success-imprumut {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #326734de;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}

.floating-success-recenzie {
  position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #326734de;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}

.floating-success-stergere {
  position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #326734de;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}


.floating-adauga-favorite {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #326734de;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}

.floating-error-imprumut {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #741c1ce2;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}

.floating-error-recenzie {
  position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #741c1ce2;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}



@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
}


/* Butoane */
.btn-recenzie,
.btnImprumuta {
    color: #ffffff;
    padding: 12px 24px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
}

.btn-recenzie:hover,
.btnImprumuta:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

/* Pop-up pentru împrumut */
.popup-imprumut {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-imprumuta {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    /* box-shadow: 0 0 10px black; */
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    text-align: center;
}

.popup-imprumuta input[type="date"] {
    margin: 5px 0;
    width: 100%;
    padding: 5px;
    background-color: rgb(244, 230, 219);
    color: #333;
}

.butoane-imprumuta {
    display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
}

.popup-adauga-recenzie {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    height: 250px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    text-align: center;
    display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-adauga-recenzie input,
.popup-adauga-recenzie textarea {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
  border-radius: 6px;
  background-color: #fdf6f0;
  resize: vertical;
  margin-top: 22px;
}


.popup-adauga-recenzie h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.butoane-adauga-recenzie {
    display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
}

.butoane-adauga-recenzie button {
  color: #ffffff;
    padding: 12px 24px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.butoane-adauga-recenzie button:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}


.popup-adauga-recenzie input:focus,
.popup-adauga-recenzie textarea:focus {
  outline: none;
}



#btnConfirmaImprumut,
#btnAnuleazaImprumut {
    color: #ffffff;
    padding: 12px 24px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

#btnConfirmaImprumut:hover,
#btnAnuleazaImprumut:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}


/* Zile indisponibile în calendar */
.react-datepicker__day.zi-indisponibila {
    background-color: #ff4d4f !important;
    color: white !important;
    border-radius: 50% !important;
}

.react-datepicker__day.zi-indisponibila:hover {
    background-color: #e60000 !important;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-imprumuta {
  background: white;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    height: 250px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    text-align: center;
    display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-imprumuta input,
.popup-imprumuta textarea {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
  border-radius: 6px;
  background-color: #fdf6f0;
  resize: vertical;
  margin-top: 22px;
}

.popup-imprumuta input:focus,
.popup-imprumuta textarea:focus {
    outline: none;
}

.butoane-popup {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.mesaj-eroare {
  color: red;
  margin-top: 10px;
}


.columns {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  margin-top: 50px;
  margin-left: 50px;
  padding: 0 20px;
  height: calc(100vh - 80px); /* scroll pe ecran complet - 80px pentru header aproximativ */
}


.left-column {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.left-column .coperta-mare {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.right-column {
  flex: 1;
  width: 900px;
  background-color: transparent;
  padding: 25px;

  /*  */
  overflow-y: auto;
  min-width: 900px;
}

.right-column::-webkit-scrollbar {
  display: none;
}

.right-column h2 {
  margin-top: 0;
}

.carti-similare-section {
    margin-top: 30px;
}

.carti-similare-section h3 {
    font-family: 'Times New Roman', Times, serif;
}

.carti-similare-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px; 
}

.book-card-similare {
    width: 160px;
    height: 270px;
    background: rgba(252, 249, 247, 0.459); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);   
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    cursor: pointer;
}

.book-spacer {
    flex-grow: 1;
    width: 100%;
    height: 10px;
  }

.book-card-similare:hover {
    transform: scale(1.05);
}


.book-image-client {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

.book-title-client {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 10px;
    color: #3B3A4F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.book-rating {
    font-size: 18px;
    color: gold;
}

.rating-stars-client {
    font-size: 24px;
    color: rgb(255, 221, 26);
    background-color: rgba(255, 255, 255, 0.1); /* fundal subtil */
    border-radius: 6px;
    padding: 4px 8px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.half-star-client {
    position: relative;
    display: inline-block;
    color: lightgray;
}

.half-star-client::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}