body {
    background-color: rgb(252, 240, 224);
    color: rgb(62, 45, 36);
}

.exemplare-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(253, 252, 251);
}

.exemplare-subcontainer {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 80px;
}

.exemplare-subcontainer h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 45, 36);
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}


.dots-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    color: #333;
}

.dots-button:focus {
    outline: none;
    box-shadow: none;
}


.exemplare-table {
    width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
}

.exemplare-table th,
.exemplare-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.exemplare-table thead tr {
  background: linear-gradient(to bottom right, #2e0f58, #f3b494);
  color: white;
}

.exemplare-table th {
  background: none;
  font-weight: 150;
}

.exemplare-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.exemplare-table tr:nth-child(odd) {
    background-color: #f1eee4;
}

.exemplare-table tr:hover {
    background-color: #e4e4e4;
}

.empty-row {
    background-color: #f0f0f0;
}

.empty-message {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #555;
}

.dropdown-menu-exemplare {
    position: absolute;
    top: 30px;
    left: 0;
    margin-left: 60px;
    width: 110px;
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
}

.dropdown-menu-exemplare button {
    background: none;
    border: none;
    padding: 8px;
    text-align: left;
    width: 100%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(62, 45, 36);
}

.dropdown-menu-exemplare button:hover {
    background-color: #f1f1f1;
}

.dropdown-menu-exemplare.show {
    display: block;
}

.select-stare {
    padding: 5px 5px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f1ece5;
    font-size: 1rem;
    color: rgb(62, 45, 36);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.select-stare:focus {
    border-color: #e4d8c6;
    box-shadow: 0 0 5px rgba(167, 148, 170, 0.4);
    outline: none;
}

.expired-row {
    background-color: #d9534f !important;
    color: white;
}

.expired-row td {
    background-color: #d9534f !important;
    color: white;
}

.floating-success {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 9999;
    animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
}

.popup-rentabilitate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.rentabilitate-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 110px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    text-align: center;
}

.rentabilitate-content h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.rentabilitate-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-bottom: 5px;
}

.rentabilitate-button {
    display: flex;
  flex-direction: column;
  justify-content: center; /* centrează vertical */
  align-items: center; 
  margin-top: 8px;
}

.rentabilitate-button button {
    color: #ffffff;
    padding: 12px 24px;
    height: 35px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
  justify-content: center;
  align-items: center;
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.popup-buttons button,
#btnDa, #btnNu {
    background-color: rgb(255, 209, 220);
    color: rgb(62, 45, 36);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    box-shadow: 0px 2px 6px;
}

.popup-buttons button:hover,
#btnDa:hover, #btnNu:hover {
    background-color: rgb(255, 180, 200);
}