

/* ======= CONȚINUT FAVORITE ======= */
.favorite-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(253, 252, 251);
}

/* Titlu */
.titluFavorite {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 45, 36);
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}

/* Grid cărți */
.book-grid-favorite {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    padding: 20px; 
    margin: 0; 
}

/* Card pentru carte */
.book-card-favorite {
    width: 160px;
    height: 270px;
    background: rgba(252, 249, 247, 0.459); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);   
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    cursor: pointer;
}

.book-card-favorite:hover {
    transform: scale(1.05);
}

.book-spacer {
    flex-grow: 1;
    width: 100%;
    height: 10px;
}

/* Imagine carte */
.book-image-favorite {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 5px;
}

/* Titlu carte */
.book-title-favorite {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-top: 10px;
    color: #3B3A4F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Rating */
.book-rating {
    font-size: 18px;
    color: gold;
    margin-top: -10px;
}

.rating-stars-favorite {
    font-size: 24px;
    color: rgb(255, 221, 26);
    background-color: rgba(255, 255, 255, 0.1); /* fundal subtil */
    border-radius: 6px;
    padding: 4px 8px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.half-star-favorite {
    position: relative;
    display: inline-block;
    color: lightgray;
}

.half-star-favorite::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}

/* Mesaj lipsă favorite */
.lipsaFavorite {
    font-style: italic;
    white-space: nowrap;
    margin-left: 575px;
    font-size: 18px;
}