

/* ======= CONȚINUT FAVORITE ======= */
.favorite-container {
    margin-top: 80px;
    padding: 20px;
}

/* Titlu */
.titluFavorite {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 45, 36);
}

/* Grid cărți */
.book-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
}

/* Card pentru carte */
.book-card {
    width: 170px;
    height: 280px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
}

.book-card:hover {
    transform: scale(1.05);
}

/* Imagine carte */
.book-image {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

/* Titlu carte */
.book-title {
    font-weight: bold;
    margin-top: 10px;
    color: #3B3A4F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Rating */
.book-rating {
    font-size: 18px;
    color: gold;
    margin-top: -10px;
}

.rating-stars {
    font-size: 24px;
    color: gold;
}

.half-star {
    position: relative;
    display: inline-block;
    color: lightgray;
}

.half-star::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}

/* Mesaj lipsă favorite */
.lipsaFavorite {
    font-style: italic;
    white-space: nowrap;
    margin-left: 575px;
    font-size: 18px;
}