/* ======= HEADER ======= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: rgb(255, 209, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-button {
    background-color: rgb(255, 209, 220);
    color: rgb(62, 45, 36);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.nav-button:hover {
    transform: scale(1.05);
}

.right-buttons {
    display: flex;
    gap: 8px;
    margin-right: 80px;
}

.user-info {
    color: rgb(62, 45, 36);
}

.profile-img-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 5px;
}

.favorite-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    transition: transform 0.2s ease;
}

.favorite-icon:hover {
    transform: scale(1.1);
}

/* ======= CONȚINUT FAVORITE ======= */
.favorite-container {
    margin-top: 80px;
    padding: 20px;
}

/* Titlu */
.titluFavorite {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 45, 36);
}

/* Grid cărți */
.book-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
}

/* Card pentru carte */
.book-card {
    width: 170px;
    height: 280px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
}

.book-card:hover {
    transform: scale(1.05);
}

/* Imagine carte */
.book-image {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

/* Titlu carte */
.book-title {
    font-weight: bold;
    margin-top: 10px;
    color: #3B3A4F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Rating */
.book-rating {
    font-size: 18px;
    color: gold;
    margin-top: -10px;
}

.rating-stars {
    font-size: 24px;
    color: gold;
}

.half-star {
    position: relative;
    display: inline-block;
    color: lightgray;
}

.half-star::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}

/* Mesaj lipsă favorite */
.lipsaFavorite {
    font-style: italic;
    white-space: nowrap;
    margin-left: 575px;
    font-size: 18px;
}