.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: rgb(255, 209, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-button {
    background-color: rgb(255, 209, 220);
    color: rgb(62, 45, 36);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.nav-button:hover {
    transform: scale(1.05);
}

.right-buttons {
    display: flex;
    gap: 8px;
    margin-right: 80px;
}

.favorite-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    transition: transform 0.2s ease;
}

.favorite-icon:hover {
    transform: scale(1.1);
}

.profile-img-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 5px;
}