.header-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom right, #2e0f58, #f3b494); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-buttons-admin {
    display: flex;
    gap: 15px;
}

.nav-button-admin {
    background-color: transparent;
    color: rgb(240, 226, 253);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-button-admin:hover {
    transform: scale(1.05);
}

.dropdown {
    position: relative;
}

.dropdown-menu-header-admin {
    position: absolute;
    top: 30px;
    left: 0;
    margin-left: 80px;
    width: 80px;
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
}

.dropdown-menu-header-admin button {
    background: none;
    border: none;
    padding: 8px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(62, 45, 36);
}

.dropdown-menu-header-admin button:hover {
    background-color: #f1f1f1;
}

.dropdown-menu.show {
    display: block;
}

.right-buttons {
    display: flex;
    gap: 8px;
    margin-right: 80px;
}

.user-info-admin {
    align-self: center;
  font-size: 17px;
  margin: 0 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffe4d6;
}

.profile-img-small-admin {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
    margin-left: 5px;
    object-fit: cover; 
    transition: transform 0.2s ease;
}

.profile-img-small-admin:hover {
    transform: scale(1.1);
}

.floating-success, .floating-error {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 14px 22px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out forwards;
  }
  
  .floating-success {
    background-color: #4CAF50;
    color: white;
  }
  
  .floating-error {
    background-color: #D32F2F;
    color: white;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
  }