.header-client {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom right, #2e0f58, #f3b494); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-buttons-client {
    display: flex;
    gap: 15px;
}

.nav-button-client {
    background-color: transparent;
    color: rgb(240, 226, 253);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-button-client:hover {
    transform: scale(1.05);
}

.right-buttons {
    display: flex;
    gap: 8px;
    margin-right: 80px;
    align-items: center;
}

.favorite-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
    transition: transform 0.2s ease;
}

.favorite-icon:hover {
    transform: scale(1.1);
}

.user-info-client {
  align-self: center;
  font-size: 17px;
  margin: 0 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffe4d6;
}

.profile-img-small-client {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
    margin-left: 5px;
    object-fit: cover; 
    transition: transform 0.2s ease;
}

.profile-img-small-client:hover {
    transform: scale(1.1);
}
