.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: rgb(255, 209, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-button {
    background-color: rgb(255, 209, 220);
    color: rgb(62, 45, 36);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.nav-button:hover {
    transform: scale(1.05);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 80px;
}

.dropdown-item {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    color: rgb(62, 45, 36);
}

.dropdown-item:hover {
    background-color: rgb(255, 209, 220);
}

.dropdown-menu.show {
    display: block;
}

.right-buttons {
    display: flex;
    gap: 8px;
    margin-right: 80px;
}

.user-info {
    color: rgb(62, 45, 36);
}

.profile-img-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 5px;
}

.floating-success, .floating-error {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 14px 22px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out forwards;
  }
  
  .floating-success {
    background-color: #4CAF50;
    color: white;
  }
  
  .floating-error {
    background-color: #D32F2F;
    color: white;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
  }