.imprumuturi-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(253, 252, 251);
}

.imprumuturi-subcontainer {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 70px;
}

.imprumuturi-subcontainer h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 45, 36);
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}

.imprumuturi-table {
    width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
}

.imprumuturi-table th,
.imprumuturi-table td {
    padding: 11px;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.imprumuturi-table thead tr {
  background: linear-gradient(to bottom right, #2e0f58, #f3b494);
  color: white;
}

.imprumuturi-table th {
  background: none;
  font-weight: 150;
}

.imprumuturi-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.imprumuturi-table tr:nth-child(odd) {
    background-color: #f1eee4;
}

.imprumuturi-table tr:hover {
    background-color: #e4e4e4;
}

.empty-row {
    background-color: #f0f0f0;
}

.empty-message {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #555;
}

#btnFinalizeazaImprumut {
  color: #ffffff;
    padding: 12px 15px;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
    margin-top: 8px;
}


.popup-overlay-cod,
.popup-overlay-confirmare,
.popup-overlay-finalizare {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.finalizare-content {
    background: white;
    padding: 25px 35px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.finalizare-content h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  margin-bottom: 15px;
}

.finalizare-content select {
    width: 300px;
  padding: 8px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
  border-radius: 6px;
  background-color: #fdf6f0;
  resize: vertical;
  margin-bottom: 10px;
}

.finalizare-content select:focus {
  outline: none;
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.popup-buttons button {
    color: #ffffff;
    padding: 12px 24px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
}

.popup-buttons button:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}


.expired-row {
    background-color: #741c1ce2 !important;
    color: white;
}

.expired-row td {
    background-color: #741c1ce2 !important;
    color: white;
}

.floating-success-finalizare {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #326734de;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}

.floating-error {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #e20303;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    z-index: 9999;
}

.pagination-container-imprumuturi-admin {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 30px;
}

.pagination-number {
  background: none;
  border: none;
  font-size: 15px;
  padding: 6px 10px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}

.pagination-number:hover {
  color: #000;
}

.pagination-number.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.pagination-dots {
  font-size: 15px;
  color: #aaa;
}

.pagination-next {
  background: none;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 0 6px;
  margin-left: 4px;
}

.pagination-next:hover {
  color: #444;
}

.pagination-prev {
  background: none;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 0 6px;
  margin-right: 4px;
}

.pagination-prev:hover {
  color: #444;
}