

/* ======= TABEL ======= */
.user-table-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 80px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th,
.user-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.user-table th {
    background-color: #5a9a6e;
    color: white;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tr:nth-child(odd) {
    background-color: #f1eee4;
}

.user-table tr:hover {
    background-color: #e4e4e4;
}

.empty-row {
    background-color: #f0f0f0;
}

.empty-message {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #555;
}

/* ======= PAGINARE ======= */
.pagination {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0;
}

.pagination button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 209, 220);
    border-radius: 5px;
    margin: 0 5px;
    font-size: 18px;
    transition: background 0.3s;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #3B3A4F;
}