.istoric-client-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(253, 252, 251);
}

/* ======= TABEL ======= */
.istoric-client-subcontainer {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 80px;
}

.istoric-client-subcontainer h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 45, 36);
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}

.istoric-client-table {
    width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
}

.istoric-client-table th,
.istoric-client-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.istoric-client-table thead tr {
    background: linear-gradient(to bottom right, #2e0f58, #f3b494);
  color: white;
}

.istoric-client-table th {
    background: none;
  font-weight: 150;
}

.istoric-client-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.istoric-client-table tr:nth-child(odd) {
    background-color: #f1eee4;
}

.istoric-client-table tr:hover {
    background-color: #e4e4e4;
}

.empty-row {
    background-color: #f0f0f0;
}

.empty-message {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #555;
}

/* ======= PAGINARE ======= */
.pagination-container-istoric {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 30px;

  position: fixed;
    bottom: 0;
    left: 50%;
}

.pagination-number {
  background: none;
  border: none;
  font-size: 15px;
  padding: 6px 10px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}

.pagination-number:hover {
  color: #000;
}

.pagination-number.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.pagination-dots {
  font-size: 15px;
  color: #aaa;
}

.pagination-next {
  background: none;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 0 6px;
  margin-left: 4px;
}

.pagination-next:hover {
  color: #444;
}

.pagination-prev {
  background: none;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 0 6px;
  margin-right: 4px;
}

.pagination-prev:hover {
  color: #444;
}
