/* Casetă și formular login */
.login-box {
    border: 1.5px solid rgb(255, 209, 220);
    border-radius: 12px;
    padding: 30px 30px;
    padding-left: 90px;
    padding-bottom: 50px;
    text-align: center;
    box-shadow: 0px 5px 17px rgba(139, 69, 19, 0.5);
    transition: box-shadow 0.8s ease-in-out;
    display: inline-block;
    margin-top: 100px;
    background-color: rgb(252, 244, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Inputuri */
.login-input {
    width: 100%; 
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(252, 224, 230);
    color: #3B3A4F;
}

.login-input:focus {
    outline: none;
    border-color: rgb(225, 199, 205);
    box-shadow: 0px 0px 5px rgb(89, 74, 77);
}

/* Buton logare */
#btnLogin {
    background-color: rgb(255, 209, 220);
    color: rgb(62, 45, 36);
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    box-shadow: 0px 2px 6px;
}

#btnLogin:hover {
    background-color: rgb(255, 209, 220);
    box-shadow: 0px 4px 10px rgb(62, 45, 36);
    transform: translateY(-2px);
}

/* Link parolă uitată */
.forgot-password-link a {
    color: rgb(120, 99, 104);
    text-decoration: none;
}

.forgot-password-link a:hover {
    text-decoration: underline;
}

/* Mesaj eroare */
.error-message {
    color: red;
    margin-top: 10px;
}