.login-wrapper {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

/* Nou: imaginea mutată în dreapta */
.login-left {
    flex: 1;
    background: linear-gradient(to bottom right, #0b351a, #c6e4b8); /* navy → bej */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Container login pe partea stângă */
.login-right {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.login-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2.5px); /* efect de blur */
    transform: scale(1.05); /* puțin zoom */
}

/* Container cu formularul */
.login-container-new {
    background: rgba(255, 255, 255, 0.2); /* fundal semi-transparent */
    backdrop-filter: blur(10px);          /* efect de blur */
    -webkit-backdrop-filter: blur(10px);  /* compatibilitate Safari */
    padding: 40px 30px;
    border: 1px solid rgba(1, 50, 12, 0.3);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(1, 50, 12, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.login-container-new h2 {
    margin-bottom: 25px;
    color: #3b3a3a;
}

.login-form-new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-new input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    box-shadow: 0 0 5px #234719;
    border-radius: 8px;
    background-color: #f9f4ef;
    color: #3b3a3a;
    text-align: center;
}

.login-form-new input:focus {
    outline: none;
    border-color: #2a4725;
    box-shadow: 0 0 5px #234719;
}

.login-form-new button {
    background-color: #8d6d4a;
    box-shadow: 0 0 5px #472e23;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-form-new button:hover {
    background-color: #917a61;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.forgot-link {
    display: block;
    margin-top: 20px;
    color: #7b6e63;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

.login-email-info {
    font-size: 0.85rem;
    color: #887c6a;
    margin-top: 8px;
}

/* Pictograma mică */
.login-icon-small {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 80px;
    opacity: 0.85;
    z-index: 3;
}

.error-message {
    color: red;
    margin-top: 10px;
}