/* Container principal */
.main-container-client {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(247, 242, 237);
}

/* Căutare */
.search-container-client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
    padding: 10px 0;
}

.search-bar-client {
    width: 900px;
    height: 10px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;

    /* Gradient shadow */
  box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
  transition: box-shadow 0.3s ease;
}

.filter-icon-client {
    width: 35px;
    height: 37px;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.filter-icon:hover {
    transform: scale(1.1);
}

/* Popup pentru filtre */
.popup-filtru-client {
    position: absolute;
    top: 110px;
    right: 20px;
    background: linear-gradient(to bottom right, #220a41c5, #efac8bc8); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.192);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 200px;
}

.popup-filtru-client h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: 100;
  color: rgb(243, 242, 242);
  display: flex;
  align-self: center;
} 

.popup-filtru-client label {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 100;
  color: rgb(243, 242, 242);
}

.popup-filtru-client select {
    padding: 6px;
    height: 30px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 5px #8a858e;
    border-radius: 6px;
    background-color: #f9f4ef;
    color: #3b3a3a;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.popup-filtru-client select:focus, .popup-filtru-client select:hover, .input-an-client:focus, .input-an-client:hover {
  outline: none;
}

.input-an-client {
    margin-bottom: 8px;
    padding: 6px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    box-shadow: 0 0 5px #8a858e;
    border-radius: 8px;
    background-color: #f9f4ef;
    color: #3b3a3a;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.butoane-filtru-client {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.butoane-filtru-client button {
    color: #ffffff;
    padding: 12px 24px;
    height: 37px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.338);
    backdrop-filter: blur(10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
}

.butoane-filtru button:hover {
    background-color: #d16262;
}

/* Grid pentru cărți */
.book-grid-client {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    padding: 20px; 
    margin: 0;
}


.book-card-client {
    width: 160px;
    height: 270px;
    background: rgba(252, 249, 247, 0.459); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);   
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    cursor: pointer;
}

.book-spacer {
    flex-grow: 1;
    width: 100%;
    height: 10px;
  }

.book-card-client:hover {
    transform: scale(1.05);
}

.book-card-client.hidden {
    visibility: hidden;
    pointer-events: none;
}

.book-image-client {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

.book-title-client {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 10px;
    color: #3B3A4F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.book-rating {
    font-size: 18px;
    color: gold;
}

.rating-stars-client {
    font-size: 24px;
    color: rgb(255, 221, 26);
    background-color: rgba(255, 255, 255, 0.1); /* fundal subtil */
    border-radius: 6px;
    padding: 4px 8px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.half-star-client {
    position: relative;
    display: inline-block;
    color: lightgray;
}

.half-star-client::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}

/* Paginare */
.pagination-container-client {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 30px;
}

.pagination-number {
  background: none;
  border: none;
  font-size: 15px;
  padding: 6px 10px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}

.pagination-number:hover {
  color: #000;
}

.pagination-number.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.pagination-dots {
  font-size: 15px;
  color: #aaa;
}

.pagination-next {
  background: none;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 0 6px;
  margin-left: 4px;
}

.pagination-next:hover {
  color: #444;
}

.pagination-prev {
  background: none;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 0 6px;
  margin-right: 4px;
}

.pagination-prev:hover {
  color: #444;
}
