
.profil-container {
    min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;    
  background: rgb(253, 252, 251);
}

.profil-content {
    width: 700px;
    height: 400px;
    max-width: 1000px;
    background-color: rgb(251, 250, 248);
    border-radius: 7px;
    padding: 20px;
    box-shadow: 2px 6px 14px 4px rgba(44, 35, 98, 0.511), 2px 8px 22px 4px rgba(224, 145, 49, 0.402);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 40px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


.dropdown-poza-client {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    display: flex;
    flex-direction: column;
}

.dropdown-poza-client button {
    background: none;
    border: none;
    padding: 8px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    color: rgb(62, 45, 36);
}

.dropdown-poza-client button:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.butoane-previzualizare {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#btnConfirmaPoza, #btnAnuleazaPoza {
    color: #ffffff;
    padding: 10px 22px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.butoane-previzualizare button:hover {
    opacity: 0.9;
}

.profile-details {
    margin-left: 60px;
    flex-direction: column;
    margin-bottom: 50px;
}

.informatii-basic {
    margin-right: 100px;
    margin-bottom: 20px;
}

.profile-details h2 {
    font-size: 28px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.profile-details p {
    color: #777;
    font-size: 18px;
    margin: 5px 0;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#inputNume, #inputPrenume, #inputMail {
    background-color: transparent;
    font-size: 19px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#inputMail {
    width: 250px;
    height: 27px;
    font-size: 18px;
}

#inputNume:focus, #inputPrenume:focus, #inputMail:focus {
    outline: none;
}



.zona-butoane-profil {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    z-index: 10;
    margin-bottom: 15px;
}

#btnsalveazaModificarile,
#btnAnuleazaModificarile,
#btnEditProfil,
#btnSchimbaParola,
#btnAdaugaPoza,
#btnDelogare,
#btnStergeCont {
    color: #ffffff;
    padding: 10px 22px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.butoane-schimba-parola, .butoane-stergere-cont {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#btnConfirmaSchimbParola,
#btnAnuleazaSchimbParola,
#confirmaStergereCont,
#anuleazaStergereCont {
    color: #ffffff;
    padding: 10px 22px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
}



#btnsalveazaModificarile:hover,
#btnAnuleazaModificarile:hover,
#btnEditProfil:hover,
#btnSchimbaParola:hover,
#btnAdaugaPoza:hover,
#btnDelogare:hover,
#btnStergeCont:hover,
#btnConfirmaSchimbParola:hover,
#btnAnuleazaSchimbParola:hover,
#confirmaStergereCont:hover,
#anuleazaStergereCont:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

.popup-overlay,
.popup-overlay-stergere-cont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-schimba-parola {
    background: white;
    padding: 25px 35px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.popup-stergere-cont {
    background: white;
    padding: 25px 35px;
    width: 470px;
    height: 100px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.popup-stergere-cont h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.popup-schimba-parola h3 {
    font-family: 'Times New Roman', Times, serif;
}

.popup-schimba-parola input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#confirmStergerePfp {
    color: rgb(62, 45, 36);
    background-color: rgb(255, 209, 220);
}

.floating-success-modificari {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #326734de;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}

.floating-error-modificari {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #741c1ce2;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
}