.profil-container-admin {
    min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;   
  background: rgb(253, 252, 251);
  }
  
  .profil-content-admin {
    width: 700px;
    height: 400px;
    max-width: 1000px;
    background-color: rgb(251, 250, 248);
    border-radius: 7px;
    padding: 20px;
    box-shadow: 2px 6px 14px 4px rgba(44, 35, 98, 0.511), 2px 8px 22px 4px rgba(224, 145, 49, 0.402);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
  }

  .profile-picture-admin {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 40px;
    flex-shrink: 0;
    margin-bottom: 50px;
  }
  
  .profile-picture-admin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .dropdown-poza-admin {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
  }
  
  .dropdown-poza-admin button {
    background: none;
    border: none;
    padding: 8px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    color: rgb(62, 45, 36);
  }
  
  .dropdown-poza-admin button:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .profile-details {
    margin-left: 60px;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
 .informatii-basic {
    margin-right: 100px;
    margin-bottom: 20px;
}

.profile-details h2 {
    font-size: 28px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.profile-details p {
    color: #777;
    font-size: 18px;
    margin: 5px 0;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
  
  #inputNume, #inputPrenume {
    color: rgb(62, 45, 36);
    background-color: transparent;
    font-size: 22px;
    width: 120px;
    border-radius: 8px;
    margin-right: 30px;
    border: 1.5px solid rgb(62, 45, 36);
    margin-bottom: 10px;
  }
  
  #inputMail {
    color: rgb(62, 45, 36);
    background-color: transparent;
    font-size: 17px;
    width: 250px;
    height: 27px;
    border-radius: 8px;
    margin-right: 30px;
    border: 1.5px solid rgb(62, 45, 36);
  }

  #btnEditProfil, #btnSchimbaParola, #btnDelogare, #btnAdaugaPoza, #btnsalveazaModificarile, #btnAnuleazaModificarile {
    color: #ffffff;
    padding: 10px 22px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to bottom right, #4f3b67c5, #f3b190c8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: none;
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  #btnsalveazaModificarile {
    margin-left: -100px;
    margin-right: 100px;
    margin-top: 30px;
  }
  
  #btnEditProfil:hover,
  #btnSchimbaParola:hover,
  #btnDelogare:hover,
  #btnAdaugaPoza:hover,
  #btnsalveazaModificarile:hover,
  #btnAnuleazaModificarile:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transform: translateY(-2px);
  }

  .popup-overlay-schimba-parola {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  }
  
  .popup-schimba-parola {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 380px;
    height: 230px;
    box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
    text-align: center;
    display: flex;
  flex-direction: column;
  gap: 16px;
  }

  .popup-schimba-parola h3 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 45, 36);
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
  }
  
 .popup-schimba-parola input {
  width: 350px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  box-shadow: 0 4px 12px 0px rgba(44, 35, 98, 0.511), 0 6px 20px 0px rgba(224, 145, 49, 0.402);
  border-radius: 6px;
  background-color: #fdf6f0;
  resize: vertical;
 }

  .popup-schimba-parola input:focus {
    outline: none;
  }

  .popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  #btnAnuleaza, #btnConfirmaSchimbParola, #btnAnuleazaSchimbParola, #confirmStergerePfp {
    background-color: rgb(255, 209, 220);
    color: rgb(62, 45, 36);
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    box-shadow: 0px 2px 6px;
  }
  
 #btnAnuleaza:hover, #btnConfirmaSchimbParola:hover, #btnAnuleazaSchimbParola:hover, #confirmStergerePfp:hover {
    box-shadow: 0px 4px 10px rgb(62, 45, 36);
    transform: translateY(-2px);
  }

  .popup-buttons-schimba-parola {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.popup-stergere-cont-admin {
  background: white;
    padding: 25px 35px;
    width: 470px;
    height: 100px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.popup-stergere-cont-admin h4 {
  font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 20px;
}

  .floating-success-modificare-profil {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #326734de;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
  }
  
  .floating-error-modificare-profil {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #741c1ce2;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
  }