.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 240, 224);
    width: 100%;
}


.titluRecomandate {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(62, 45, 36);
    z-index: 1;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: flex-start;
    padding: 20px; 
    margin: 0;
    width: 100%;
    margin-top: -10px;
    margin-left: -45px;
}

.book-card {
    width: 170px;
    height: 280px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card.hidden {
    visibility: hidden;
    pointer-events: none;
}

.book-image {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

.book-title {
    font-weight: bold;
    margin-top: 10px;
    color: #3B3A4F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.book-rating {
    font-size: 18px;
    color: gold;
    margin-top: -10px;
}

.rating-stars {
    font-size: 24px;
    color: gold;
}

.half-star {
    position: relative;
    display: inline-block;
    color: lightgray;
}

.half-star::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}

.lipsaFavorite {
    font-style: italic;
    white-space: nowrap;
    margin-left: 575px;
    font-size: 18px;
    color: gray;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 240, 224);
    padding: 20px 0;
    position: relative;
}

.pagination-button {
    background-color: rgb(255, 209, 220);
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

.pagination-button:hover {
    background-color: rgb(255, 180, 200);
}

.pagination-button:disabled {
    background-color: rgb(200, 200, 200);
    cursor: not-allowed;
}

.pagina-info {
    font-size: 16px;
    font-weight: bold;
    color: #3B3A4F;
}