/* Caseta de înregistrare */
.signup-box {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

/* Formularele */
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input-urile */
.signup-input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    box-shadow: 0 0 5px #92829e;
    border-radius: 8px;
    background-color: #f9f4ef;
    color: #3b3a3a;
    text-align: center;
}

.signup-input:focus {
    outline: none;
    border-color: #b8a3c850;
    box-shadow: 0 0 5px #38254790;
}

/* Checkbox + label */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

/* Butonul de creare cont */
#btnCreazaCont {
    color: #ffffff;
    padding: 12px 24px;
    margin-top: 10px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    display: flex;
    align-items: center;   
    margin: 10px auto 0 auto;
}

/* Efect hover */
#btnCreazaCont:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Mesaj de eroare */
.error-message {
    color: red;
    margin-top: 10px;
}

.signup-wrapper {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

/* Imagine pe stânga */
.signup-left {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.signup-background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2.5px);
  transform: scale(1.05);
}

.signup-quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.5rem;
  max-width: 500px;
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  z-index: 3;
  padding: 0 20px;
  animation: floatSlow 3s ease-in-out infinite;
}

/* Formul pe dreapta */
.signup-right {
  flex: 1;
  background: linear-gradient(to bottom right, #220a41, #efac8b);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signup-container-new {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 40px 30px;
  border: 1px solid rgba(1, 50, 12, 0.3);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(1, 50, 12, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.signup-container-new h2 {
  margin-bottom: 25px;
  color: #ffffff;
}
