
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Inter', sans-serif;
    background-color: #1b1f23;
    color: #f4f4f4;
}

.welcome-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Gradient fundal */
    background: linear-gradient(to bottom right, #220a41, #efac8b); 
    background-size: cover;
    background-position: center;
}

.welcome-content {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.welcome-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}



.welcome-title {
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.welcome-subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
}

.welcome-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#btnAuth, #btnCreareCont {
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    background: #cbd5e143;
}

#btnAuth:hover, #btnCreareCont:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.floating-success-stergere-cont {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #326734de;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999;
    animation: fadeInOut 5s ease-in-out forwards;
}

@keyframes fadeInOut {
    0%   { opacity: 0; transform: translateY(20px); }
    10%  { opacity: 1; transform: translateY(0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
}